body{
  font-family: 'Manrope';
  margin: 0;
  padding: 0;
  font-size: 13px
}
@media (min-width: 320px) {
  main{
    background-color: hsl(210, 46%, 95%);
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .image{
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 165px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card{
    width: 300px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .writeup{
    padding: 15px 25px;
  }
  .item{
    display: grid;
    grid-template-columns: 55px 160px 30px;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .item1 img{
    width: 40px;
    border-radius: 50%;
  }
  .item2{
    line-height: .4rem;
  }
  .item3 {
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    /* height: 30px; */
    padding: 8px;
  }
  .hidden{
    background-color: hsl(217, 19%, 35%);
    display: none;
    flex-direction: row;
    padding: 0 25px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60px;
  }
  .item5 img{
    padding: 0 5px;
  }
  .item5{
    padding-left: 10px;
    padding-right: 45px;
  }
  .item6 {
    border-radius: 50%;
    background-color: hsl(212, 23%, 55%);
    /* height: 30px; */
    padding: 8px;
  }
  .item6 img{
    filter: brightness(3);
  }

}

@media (min-width: 768px) {
  .card {
    width: 400px;
  }
}

@media (min-width: 1440px) {
  .card{
    display: flex;
    width: 650px;
  }
  .image{
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .writeup{
    padding-left: 35px;
    padding-right: 42px;
  }
  .item{
    display: grid;
    grid-template-columns: 55px 235px 30px;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 35px;
    column-gap: 0;
    justify-content: left;
    padding-top: 0;
  }
  .hidden{
    background-color: hsl(217, 19%, 35%);
    display: flex;
    position: relative;
    bottom: 110px;
    left: 240px;
    flex-direction: row;
    padding: 0 25px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    width: 165px;
  }
  .item5{
    padding-left: 0px;
    padding-right: 0px;
  }
  .item6{
    display: none;
  }

}